@model SuperDealership.Models.Auto

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Auto</h4>
    <hr />
    <img style="float:right;width:50%;" src="@Html.DisplayFor(model => model.CarImg)" />

    <dl style="float:left; "class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Type)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Type)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Make)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Make)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Year)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Year)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MPGLow)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPGLow)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MPGHigh)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MPGHigh)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Color)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Color)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.MSRP)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.MSRP)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Mileage)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Mileage)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VIN)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VIN)
        </dd>
    </dl>
    <a href="/Home/Contact">
        <img style="float:left;margin-left:8%;width:25%;" src="http://www.finetunedfinances.com/wp-content/uploads/2010/03/new-car.jpg" />
    </a>
</div>


<p style="clear:both;">
    @*@Html.ActionLink("Edit", "Edit", new { id = Model.UserID })*@
    @Html.ActionLink("Back to List", "Index")
</p>
