@model IEnumerable<SuperDealership.Models.Auto>

@{
    ViewBag.Title = "Index";
}

<h2>Available Vehicles</h2>
@using (Html.BeginForm("Index", "Auto", FormMethod.Get))
{
    <p>
        Type: @Html.DropDownList("autoType", "All")
        Make: @Html.DropDownList("autoMake", "All")
        Model: @Html.DropDownList("autoModel", "All")
        Year: @Html.DropDownList("autoYear", "All")
        @*MPGLow: @Html.DropDownList("autoMPGLow", "All")
        MPGHigh: @Html.DropDownList("autoMPGHigh", "All")
        Color: @Html.DropDownList("autoColor", "All")
        MSRP: @Html.DropDownList("autoMSRP", "All")
        Mileage: @Html.DropDownList("autoMileage", "All")
        VIN: @Html.DropDownList("autoVIN", "All")*@
        
        <input type="submit" value="Filter" />
    </p>
}

<table class="table">
   
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Make)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Model)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Year)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPGLow)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MPGHigh)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Color)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.MSRP)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Mileage)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.VIN)
        </th>
        <th></th>
        <th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Type)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Make)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Model)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MPGLow)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MPGHigh)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Color)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.MSRP)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Mileage)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VIN)
            </td>
            <td><img src="@Html.DisplayFor(modelItem => item.CarImg)" /></td>
            <td>@Html.ActionLink("Details", "Details", new {id = item.UserID})</td>
        </tr>
    }
</table>
